*.suo
*.snk
*.pfx
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.dms
*.ust
*.score.ini
*.blend
*.blend1
*.DotSettings.user
/packages
/Test/Capture_img
/Test/Config.ini
/Test/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/dll/SlimDX.*
/Test/System/*Style*/
/Test/System/Honkehuu/Sounds/*Combo*/
/Test/System/Honkehuu/Sounds/Config*
/Test/System/Honkehuu/Sounds/Full*
/Test/System/Honkehuu/Sounds/Game*
/Test/System/Honkehuu/Sounds/Select*
/Test/System/Honkehuu/Sounds/title*
/Test/Songs/
!/bin/**/*
/Test/テスト譜面*/